<section class="home py-4">
    <div class="container">
        <div class="row text-md-center">
            <div class="col-12 col-md-12 col-lg-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        𝑫𝑵𝑨𝑪𝒓𝒚𝒔𝒕𝒂𝒍

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-3">
                <img src="assets/img/home/gestionar-items.jpg" class="card-img-top" height="500">
<!--                     <img src="src/assets/img/home/gestionar-items.jpg" class="card-img-top">
 -->                    <div class="card-body">
                        <h5 class="card-title">Gestionar Items de Compra</h5>
                        <p class="card-text">Módulo encargado de crear, actualizar, eliminar y listar los diferentes items de DNACrystal.</p>
                        <a id="font" href="/itemsCompra" class="btn btn-primary">Gestionar</a>
                
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-3">
                <img src="assets/img/admin.jpg" class="card-img-top" height="500">
<!--                     <img src="assets/img/home/administracion.jpeg" class="card-img-top">
 -->                    <div class="card-body">
                        <h5 class="card-title">Administración</h5>
                        <p class="card-text">Módulo encargado de la creación de Clientes, Usuarios y eps. Así mismo como la actualización, eliminación y listado de estos.</p>
                        <a id="font" href="/administracion" class="btn btn-primary">Administrar</a>
                    </div>
            </div>
        </div>
    </div>
</section>